# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Environments & secrets
.env
.env.*
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Node
node_modules/
npm-debug.log*
dist/
build/

# Java / C++
*.class
target/
*.o
*.out

# Unity
Library/
Temp/
Obj/
Logs/
